body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

select, input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#quiz {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.question {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#results {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
}

.selected {
    background-color: #007BFF; /* Color de fondo para respuestas seleccionadas */
}


#floating-clock {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

/* Agrega este CSS a tu archivo de estilos o en línea según tus necesidades */

#resultsCon{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#resultadosContainer {
    list-style: none;
    padding: 0;
}

.user-answer-correct label {
    color: green;
    font-weight: bold; /* Hace que la respuesta del usuario acertada esté en negrita */
}

.user-answer-incorrect label {
    color: red;
    font-weight: bold; /* Hace que la respuesta del usuario equivocada esté en negrita */
}

.correct-answer label {
    color: green;
    font-weight: bold; /* Hace que la respuesta correcta esté en negrita */
}

.normal-answer label {
    color: gray; /* Color gris para respuestas normales */
    font-weight: normal; /* Asegura que la fuente sea normal para respuestas normales */
}

#resultadosContainer li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#resultadosContainer li span {
    font-weight: bold;
}

#resultadosContainer li .check {
    color: green;
}

#resultadosContainer li .cross {
    color: red;
}

/* Add more styles as needed */
